@{
    ViewData["Title"] = "Trang chủ";
}

<link href="~/css/client-index.css" rel="stylesheet">

<!-- HERO -->
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h1 class="fw-bold mb-4">
                    Kết nối <span>tri thức</span><br />
                    tại Thư viện Đại học Đại Nam
                </h1>

                <div class="search-box">
                    <input class="form-control" placeholder="Nhập tên sách, tác giả...">
                    <button class="btn btn-warning px-4 fw-semibold">Tìm</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="book-section">
    <div class="container">
        <h3 class="fw-bold text-center mb-4">
            Kho tài liệu <br />và sách bán chạy nhất
        </h3>

        <div id="bookCarousel" class="carousel slide">
            <div class="carousel-inner">

                <div class="carousel-item active">
                    <div class="row g-4 justify-content-center">
                        <div class="col-6 col-md-3">
                            <a href="/Book/Detail/1" class="book-card">
                                <img src="https://bizweb.dktcdn.net/100/326/228/products/81hmjlt14ml-uf894-1000-ql80.jpg?v=1757049241340">
                                <h6>Homo Deus</h6>
                                <span>Yuval Noah Harari</span>
                                <div class="badge-premium">Mới</div>
                            </a>
                        </div>
                        <div class="col-6 col-md-3">
                            <a href="/Book/Detail/2" class="book-card">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTv98FnKFIl1mWp2oF2YjMiVb9XCxuKExy0Gw&s">
                                <h6>12 Rules for Life</h6>
                                <span>Jordan Peterson</span>
                                <div class="badge-premium">Hot</div>
                            </a>
                        </div>
                        <div class="col-6 col-md-3">
                            <a href="/Book/Detail/3" class="book-card">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgGpv1ctGy0hjdg5Htgfh7PDosTEN5kkDNrw&s">
                                <h6>Harry Potter</h6>
                                <span>J.K Rowling</span>
                                <div class="badge-premium">Kinh điển</div>
                            </a>
                        </div>
                        <div class="col-6 col-md-3">
                            <a href="/Book/Detail/4" class="book-card">
                                <img src="https://m.media-amazon.com/images/I/71F4+7rk2eL._UF894,1000_QL80_.jpg">
                                <h6>Atomic Habits</h6>
                                <span>James Clear</span>
                                <div class="badge-premium">Kỹ năng</div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="row g-4 justify-content-center">
                        <div class="col-6 col-md-3">
                            <a href="/Book/Detail/5" class="book-card">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEjd9cGkdABJiPQ3qfZNGvDkIXDrCr3IqOVQ&s">
                                <h6>Rich Dad Poor Dad</h6>
                                <span>Robert Kiyosaki</span>
                                <div class="badge-premium">Kinh tế</div>
                            </a>
                        </div>
                        <div class="col-6 col-md-3">
                            <a href="/Book/Detail/6" class="book-card">
                                <img src="https://m.media-amazon.com/images/I/81gC3mdNi5L._AC_UF1000,1000_QL80_.jpg">
                                <h6>Psychology of Money</h6>
                                <span>Morgan Housel</span>
                                <div class="badge-premium">Tài chính</div>
                            </a>
                        </div>
                        <div class="col-6 col-md-3">
                            <a href="/Book/Detail/7" class="book-card">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTya1pYfoM-qFULZrynbW6xrmXjvg7swO0QHw&s">
                                <h6>The Shining</h6>
                                <span>Stephen King</span>
                                <div class="badge-premium">Kinh dị</div>
                            </a>
                        </div>
                        <div class="col-6 col-md-3">
                            <a href="/Book/Detail/8" class="book-card">
                                <img src="https://m.media-amazon.com/images/I/71wANojhEKL._AC_UF1000,1000_QL80_.jpg">
                                <h6>1984</h6>
                                <span>George Orwell</span>
                                <div class="badge-premium">Văn học</div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="row g-4 justify-content-center">
                        <div class="col-6 col-md-3">
                            <a href="/Book/Detail/9" class="book-card">
                                <img src="https://cdn.hstatic.net/products/200001055148/51oxkwrcyyl_6e1d5c0ac22a4e158adcd0b948f2b5f5.jpg">
                                <h6>Thinking, Fast and Slow</h6>
                                <span>Daniel Kahneman</span>
                                <div class="badge-premium">Tâm lý</div>
                            </a>
                        </div>
                        <div class="col-6 col-md-3">
                            <a href="https://www.fahasa.com/sapiens-a-brief-history-of-humankind.html?srsltid=AfmBOoqGj7Xm43Hn5To3y0pqXxIVPoM0uuq7qy3aTkRHeSwd8CgX9iLu" class="book-card">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSotjQPuZMiz-cVShfHXzDtvLMJ1EinP7jEDg&s">
                                <h6>Sapiens</h6>
                                <span>Yuval Noah Harari</span>
                                <div class="badge-premium">Lịch sử</div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#bookCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#bookCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    </div>
</section>

<!-- FEATURE -->
<section class="py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-md-4">
                <div class="feature-img feature-img-bg-1">
                    <div class="feature-overlay">
                        <h5>Hướng dẫn mượn sách</h5>
                        <p>Quy trình mượn – trả hiện đại</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="feature-img feature-img-bg-2">
                    <div class="feature-overlay">
                        <h5>Tra cứu tài liệu</h5>
                        <p>Tìm kiếm học liệu nhanh</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="feature-img feature-img-bg-3">
                    <div class="feature-overlay">
                        <h5>Danh mục chuyên ngành</h5>
                        <p>Theo khoa & lĩnh vực</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- CATEGORY -->
<section class="pb-5">
    <div class="container">
        <h4 class="fw-bold mb-4">Không gian học tập hiện đại</h4>
        <div class="row g-4">
            <div class="col-md-4">
                <div class="category category-bg-1">
                    <span>Sứ mệnh & Vai trò</span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="category category-bg-2">
                    <span>Không gian chia sẻ</span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="category category-bg-3">
                    <span>Đào tạo & Nghiên cứu</span>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- PARTNER -->
<section class="py-5 bg-white">
    <div class="container">
        <h4 class="fw-bold text-center mb-4">Đối tác liên kết</h4>
        <div class="row g-4">

            <div class="col-6 col-md-4">
                <a href="https://fibocapital.vn" target="_blank">
                    <div class="partner-box partner-box-bg-1">
                        <span>Fibo Capital Việt Nam</span>
                    </div>
                </a>
            </div>

            <div class="col-6 col-md-4">
                <a href="https://www.manulife.com.vn" target="_blank">
                    <div class="partner-box partner-box-bg-2">
                        <span>Manulife Việt Nam</span>
                    </div>
                </a>
            </div>

            <div class="col-6 col-md-4">
                <a href="https://xuanhoa.vn" target="_blank">
                    <div class="partner-box partner-box-bg-3">
                        <span>Xuân Hòa Việt Nam</span>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>
